setuptools==68.2.2
streamlit
pandas
numpy==1.26.4
matplotlib
plotly
spacy==3.7.2
transformers==4.37.0
torch
Pillow==10.2.0
scikit-learn==1.4.2
shap
lime==0.2.0.1
praw
snscrape
opencv-python==4.9.0.80
folium
streamlit-folium
requests
textblob
sentence-transformers
timm
