streamlit==1.33.0
pandas
numpy==1.24.4
matplotlib
plotly
spacy==3.7.2
transformers==4.31.0
torch==2.0.1
Pillow==9.5.0
scikit-learn==1.3.0
shap
lime==0.2.0.1
praw
snscrape
opencv-python==4.7.0.72
folium
streamlit-folium
requests
textblob
sentence-transformers
timm
